* {
  box-sizing: border-box;
}

.row {
  display: flex;
}

/* Create two equal columns that sits next to each other */
.column {
  flex: 50%;
  padding: 10px;
  
}

span.b {
  display: inline-block;
  width: 500px;
  height: 70px;
  padding: 5px;
  border: 1px solid #d7eeff;    
  background-color: #d7eeff; 
}

div.c {
  display: inline-block;
  width: 1245px;
  height: 200px;
  padding: 5px;
  border: 1px solid #ffffff;    
  background-color: #ffffff; 
}

.inner {
  margin-left: 5px;
  background-color: #d7eeff;
}